@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --clr-black08: rgba(43, 42, 40, 0.8);
    --clr-black095: rgba(40.85, 39.9, 38);
    --clr-yellow: rgba(254, 237, 1, 0.9);
    --clr-white: rgba(255, 255, 255, 0.85);
    --constant: 0.14;
    --translate1: translate(calc(-14.781rem * var(--constant)), calc(-98.902rem * var(--constant)));
    --translate2of7: translate(calc(16.218rem * var(--constant)), calc(-98.676rem * var(--constant)));
    --translate3of7: translate(calc(45.658rem * var(--constant)), calc(-88.968rem * var(--constant)));
    --translate4of7: translate(calc(70.711rem * var(--constant)), calc(-70.711rem * var(--constant)));
    --translate5of7: translate(calc(88.968rem * var(--constant)), calc(-45.658rem * var(--constant)));
    --translate6of7: translate(calc(98.676rem * var(--constant)), calc(-16.218rem * var(--constant)));
    --translate7of7: translate(calc(98.902rem * var(--constant)), calc(14.781rem * var(--constant)));

}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: white;
    
}
.content,
.repair-content,
.selection-content,
.contact-content {
    display: grid;
    grid-template-areas: 
    'section-1'
    'section-2'
    'section-3'
    'section-4'
    'section-5'
    ;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
}

.findus-content {
    display: grid;
    grid-template-areas: 
    'section-1'
    'section-2'
    'section-3'
    ;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
}


header {
    background-color: var(--clr-black095);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--clr-black095);
    width: 100%;
    display: block;
    position: relative;
    bottom:0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.5rem;
}

/* ---navigation in header on desktop--- */
.desktop-nav ul {
    position:relative;
    list-style-type: none;
    text-align: center;
    margin:auto;
    display: none;
    align-content: flex-end;
    justify-content:space-between;
    padding: 0rem;
    margin: 3rem 0.3rem 0 0;

   
}
.desktop-nav li {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;;
    text-transform: uppercase;
    display:inline-block;
    transition: ease 0.5s;
    padding: 0 0 0 0;
    margin: 0;
   
}
.desktop-nav li:hover {
    box-shadow: inset 0px 0px 10px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.desktop-nav a {
    font-size: 2.5rem;
    display:block;
    text-decoration: none;
    color:#feed01;
    padding: 0rem 0.5rem 0rem 0.5rem;
    margin: 1.6rem 2rem 0.2rem 2rem;
}
.header-links hr {
    margin: 1rem 0.3rem 0.0rem 0.3rem;
    color: #feed01;
}

#home-page #home-link, #repair-page #repair-link, #selection-page #selection-link, #contact-page #contact-link{
    border-bottom: 0.2rem solid #feed01;
}

/* ---home page--- */


.introduction {
    grid-area: section-1;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.introduction h1, .wait-times h1 {
    font-family: 'Rationale', sans-serif;
    font-size: 4.7rem ;
    font-weight: 100;
}
.introduction-contact {
    font-family: 'Rationale', sans-serif;
    font-size: 4.7rem ;
    font-weight: 100;
    margin-left: 0.5rem;
}
.introduction h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;


}
.introduction h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 1.9rem;

}
.bike-buttons {
    grid-area: section-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bike-buttons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bike-buttons div {
    display: flex;
    flex-direction: column;
    position: absolute;
    
}
.button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--clr-black08);
    color: var(--clr-white);
    margin: 1rem;
    padding: 0.9rem 2.5rem;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    

}
.rate-button {
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-yellow);
    color:var(--clr-black095);
    margin: 1rem;
    width: 50%;
    padding: 0.9rem 2.5rem;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    box-shadow: 0px 10px 16px 4px hsla(0, 0%, 0%, 0.2);
    z-index: 0;
}
.rate-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline{
    display: flex;
    grid-area: section-3;
    border-block: 0.3rem solid black;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.tagline h2{
    font-family: 'Rationale', sans-serif;
    font-size: 3rem;
    margin: 0.9rem;
    text-transform: uppercase;
}

.info-box {
    display:flex;
    flex-direction: column;
    background-color: var(--clr-yellow);
    width: 88%;
    margin: 1.5rem auto;
    justify-content: center;
    box-shadow: 0px 10px 16px 4px hsla(0, 0%, 0%, 0.2);
    /* align-items: center; */
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
}

.info-box-home {
    grid-area: section-4;
    max-width: 55rem;
}

.info-box-repair {
    grid-area: section-2;
}
.img-container {
    position:relative;
    height: 100%
}
.repair-img {
    display: none;
    grid-area: section-2;
    width: 100%;
    

}

.info-box h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: var(--clr-black095);
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
.review-card {
    position:relative;
    width: 88%;
    max-width: 55rem;
    margin: 5rem auto;
    box-shadow: 0px 10px 16px 4px hsla(0, 0%, 0%, 0.2);
    text-align: center;
}
.review-card:first-of-type {
    margin-top: 0;
}
.reviews-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-bottom: 1.6rem;
}
.review-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.review-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 1rem;
}
.review-tagline {
    font-style: italic;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-bottom: 0.8rem;
}
.review-details {
    text-align: center;
    margin-bottom: 2.5rem;
}
.review-name {
    position: absolute;
    bottom: 0;
    right: 0.2rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.reviews {
    grid-area: section-5;
    
}

/* ---selection page--- */

.gallery-cell {
    width: 100%;
    height: 24rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.flickity-button {
    background: transparent !important;
}

.centered-text {
    text-align: center;
}

.right-aligned-text {
    text-align: right;
}

.closed-time {
    padding-right: 1rem;
}

.whats-in-store h2 {
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.handled-with-care {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.handled-with-care h2 {
    font-size: 2.5rem;
    font-family: 'Rationale', sans-serif;
}

table {
    padding: 10px;
}

td {
    padding: 0.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
}

.selection-content > #selection-box{
    grid-area: section-2;
}

.selection-content > .whats-in-store{
    grid-area: section-3;
}

.selection-content > .handled-with-care{
    grid-area: section-4;
}

.selection-content > .be-sure{
    grid-area: section-5;
}

.whats-in-store hr {
    display: none;
}

.be-sure hr {
    display: none;
}



/* ---repair sub-page--- */


.info-box .repair-text{
    font-size: 2.5rem;
    margin: 2rem 1.5rem
}
.wait-times {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}
.waiting-img {
    display:none;
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 10rem 10rem 10rem auto;
    padding-left: 1rem;
    
}
#discount-box {
    width: 65%;
    max-width: 40rem;
    margin-bottom: 5rem;
}
.repair-box1, .repair-box2{
    margin-bottom: 3rem;
}
.prices {
    display: flex;
    text-align: center;
    position:relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.prices table{
    padding: 0rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 1rem;

}

.repair-content > .repair-box1{
    grid-area: section-2;
}

.repair-content > .prices{
    grid-area: section-3;
}

.repair-content > #discount-box{
    grid-area: section-4;
}
.waiting-img {
    grid-area: section-5;
}
.repair-content > .wait-times{
    grid-area: section-5;
}



/* ---contact sub-page--- */


.information, .social-media{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.information h1, .information h2, .social-media h1, .social-media h2, .prices h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    color: var(--clr-black095);
    margin: 0 0 0 1rem

}
.information h1, .social-media h1 {
    font-size: 3.9rem;
}
.information h2, .social-media h2 {
    font-size: 2.4rem;
}
h2 .linkto {
    align-self: flex-end;
    text-align: right;
    text-decoration: none;
}
.information hr,
.social-media hr {
    width: 80%;
    margin: 0.5rem 0 1.5rem 1rem;
}
.message-us {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    text-decoration: none;
    /* position: relative;
    left: -1.8rem; */
}
.message-us img {
    height: 6rem;
}
.message-us a {
    text-decoration: none;
    color: var(--clr-black095);
    
}
.message-us h2{
    
    font-family: 'Rationale', sans-serif;
    margin-left: 1rem;
    font-size: 2.6rem;
    font-weight: 100;
}
.social-media .social-icons{
    display: flex;
    justify-content: center;
}

#contact-page .info-box {
    margin-bottom: 5rem;
}

.chain {
    width: 100%;
    margin: 1rem 0;
}

.contact-content > .information{
    grid-area: section-2;
}

.contact-content > .message-us{
    grid-area: section-3;
}

.contact-content > .social-media{
    grid-area: section-4;
}

.contact-content > .info-box-contact{
    grid-area: section-5;
}

.social-icons a {
    text-decoration: none;
}

/* ---navigation-button for mobile-size--- */
.nav-toggle {
    /* pointer-events: auto; */
    display:none;
}

.nav-container{ 
    margin: 0;
    display: flex;
    position: fixed;
    bottom: 2.8rem;
    left: 2.8rem;
    justify-content: center;
    align-items: center;

}


.nav-links {
    content: "";
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    position:sticky;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    transform: scale(1);
    transition: transform 1000ms ease;

}

.nav-toggle-label{
    content: "";
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    z-index: 2;

}
.location-icon {
    display: flex;
    position: fixed;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.8);
    align-items: center;
    justify-content: center;
    bottom: 2.8rem;
    right: 2.8rem;
}
.burger-container img, .location-icon img {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    position: relative;
}
.nav-toggle-label::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: 0.3rem solid var(--clr-yellow);
    border-radius: 50%;
    width: 5.2rem;
    height: 5.2rem;
    animation: pulse 1s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes pulse {
    100% {transform: scale(1.2,1.2);}
}
.reset-label{
    content: "";
    width: 150%;
    height: 175%;
    display: none;
    position: fixed;
    
    background-color: transparent;
    z-index: -1;

}

.nav-toggle:checked ~ .nav-links{
    transform: scale(6.25);
}
.nav-toggle:checked ~ .nav-toggle-label::after{
    animation-play-state: paused;
}
.nav-toggle:checked ~ .reset-label{
    display:block;
}


.nav-item{
    display: flex;
    background-color: var(--clr-yellow);
    opacity: 0;
    position: absolute;
    transform: scale(0.7);
    width:5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    transition: transform 1000ms ease, opacity 1000ms cubic-bezier(.60,0,0,0);
}
.nav-item a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height:100%;
    border-radius: 50%;
    color: black;
    line-height: 5.2rem;
}
.nav-toggle:checked ~ #nav1 {
    transform: var(--translate1);
    opacity: 1;
}
.nav-toggle:checked ~ #nav2 {
    transform: var(--translate3of7);
    opacity: 1;
}
.nav-toggle:checked ~ #nav3 {
    transform: var(--translate5of7);
    opacity: 1;
}
.nav-toggle:checked ~ #nav4 {
    transform: var(--translate7of7);
    opacity: 1;

}


.logo {
    height: 5rem;
    margin: 1rem;
}

 /* ---find-us page--- */
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}
.address-wrapper{
    display:flex;

}
.address {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 2rem;
    /* justify-content: center; */

}
.address h2 {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    
}
.address h4 {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.address hr {
    width: 100%;
    margin: 1rem auto;
}

.findus-content > .map{
    grid-area: section-2;
}

.findus-content > .address-wrapper{
    grid-area: section-3;
}

.information-blocks span {
    width: 100px;
    clear: left;
    float: left;
    text-align: right;
    padding-right: 2rem;
}

.table-seperator {
    padding-left: 1rem;
    padding-right: 1rem;
}

.information-left {
    margin-bottom: 1rem;
}
.information-right table {
    padding: 0;
    margin-left: 1rem;
}

.information-right table td {
    font-size: 2.4rem;
}

@media screen and (min-width: 900px) {
    header {
        justify-content: space-between;
    }
    .desktop-nav ul {
        display: flex;
    }
    .nav-container {
        display: none;
    }
    .chain {
        display: none;
    }
    .content {
        grid-template-areas: 
        'section-2 section-1'
        'section-3 section-3'
        'section-4 section-4'
        'section-5 section-5'
        'section-6 section-6'
        ;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr 1fr;
    }
    .repair-content > .wait-times{
        grid-area: section-6;
    }
    .repair-content {
        grid-template-areas: 
        'section-1 section-2'
        'section-3 section-3'
        'section-4 section-4'
        'section-5 section-6'
        ;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 40% 60%;
    }
    
    .selection-content {
        grid-template-areas: 
        'section-1 section-2'
        'section-3 section-3'
        'section-4 section-4'
        'section-5 section-5'
        ;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr 1fr;
    }

    .gallery-cell {
        width: 33%;
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }  
    
    /* .contact-content {
        grid-template-areas: 
        'section-2 section-1'
        'section-3 section-3'
        'section-4 section-4'
        'section-5 section-5'
        'section-6 section-6'
        ;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr 1fr;
    } */
    
    .findus-content {
        grid-template-areas: 
        'section-1 section-3'
        'section-2 section-3'
        ;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr 1fr;
    }

    .rate-us {
       grid-area: section-6;
    }

    .rate-button{
        width: initial;
    }

    .info-box-home {
        width: 30%;
        min-width: 40rem;

    }
    .info-box-home table {
        width: 80%;
        margin: 0 auto;
    }

    .reviews-title {
        font-size: 4rem;
    }

    .review-cards-wrapper {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }

    .review-card {
        margin-top: initial;
        width: 30%;
    }
    .review-body {
        margin: 0;
    }

    .introduction {
        grid-area: section-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction h1, .wait-times h1 {
        font-family: 'Rationale', sans-serif;
        font-size: 9.4rem ;
        font-weight: 100;
        padding: 4rem;
    }

    .introduction-contact {
        font-family: 'Rationale', sans-serif;
        font-size: 7rem ;
        font-weight: 100;
    }

    .introduction h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        font-size: 4.8rem;
    }

    .introduction h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        font-size: 3.8rem;
        text-align: center;
    }

    .introduction-middle {
        padding: 4rem;
    }

    .tagline h2 {
        font-size: 5rem;

    }

    #selection-box {
        background-color: var(--clr-white);
        box-shadow: none;
    }

    .whats-in-store hr {
        display: inline-block;
        width: 90%;
        border: solid 1px var(--clr-black095);
        margin-bottom: 2rem;
    }

    .whats-in-store h2 {
        text-transform: none;
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .handled-with-care {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }

    .handled-with-care h2 {
        font-size: 4rem;
    }

    .handled-with-care p {
        width: 40%;
    }

    .be-sure > .info-box {
        width: 80%;
        margin-bottom: 5rem;
    }

    .be-sure hr {
        display: inline-block;
        width: 90%;
        border: solid 1px var(--clr-black095);
        margin-bottom: 2rem;
    }

    .contact-content > .introduction {
        display: block;
    }

    .contact-content {
        margin: 5rem;
    }

    .info-box-contact {
        width: 40%;
    }

    .social-media > .social-icons {
        display: block;
    }

    .message-us {
        justify-content: flex-start;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .message-us h2 {
        font-size: 4rem;
        margin-left: 2rem;
    }

    .message-us img {
        height: 8rem;
    }

    .information hr,
    .social-media hr {
        width: 50%;
    } 

    .information-blocks {
        display: flex;
    }

    .information-left {
        width: 33%;
    }

    .information-right {
        width: 66%;
    }

    .introduction-contact {
        padding: unset;
    }

    .chain{
        display: none;
    }

    /* repair-page desktop */
    .repair-content .repair-img {
        display:block;
    }
    .repair-box1 {
        background-color: transparent;
        box-shadow: none;
    }
    .repair-content .introduction::after, .img-container::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2rem; 
            background: black; 
            top: 100%;
            left: 0;
            margin: 2rem 0;
    }
    .wait-times::before, #discount-box + .img-container::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2rem; 
        background: black; 
        top: 0%;
        left: 0;
        margin: 2rem 0;
    }
    .prices {
        width: 40%;
        margin: 5rem auto 1rem auto;
    }
    .waiting-img {
        display:block;
    }
    .repair-box2 {
        max-width: 40rem;
    }

    /* --find-us page desktop-- */
    .address {
        position: relative;
        top: 7rem;
        margin: auto;
        padding-left: 10rem;
        /* font-size: ; */

    }
    .map {
        padding-left:5rem;
        width: 110%;
        height: 50rem;
    }
    .address h2{
        font-size: 3rem;
        
    }
    .address h4{
        font-size: 3rem;
        margin-top: 2rem;
        width: 50%;

    }
    .address hr{
        display: none;
        
    }
}
