:root {
    --constant: 0.14;
    --translate1: translate(calc(-14.781rem * var(--constant)), calc(-98.902rem * var(--constant)));
    --translate2of7: translate(calc(16.218rem * var(--constant)), calc(-98.676rem * var(--constant)));
    --translate3of7: translate(calc(45.658rem * var(--constant)), calc(-88.968rem * var(--constant)));
    --translate4of7: translate(calc(70.711rem * var(--constant)), calc(-70.711rem * var(--constant)));
    --translate5of7: translate(calc(88.968rem * var(--constant)), calc(-45.658rem * var(--constant)));
    --translate6of7: translate(calc(98.676rem * var(--constant)), calc(-16.218rem * var(--constant)));
    --translate7of7: translate(calc(98.902rem * var(--constant)), calc(14.781rem * var(--constant)));

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: white;
    background-image: url(img/thumb-zone.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 375px auto; 
}

.nav-toggle {
    display:none;

}

.nav-container{ 
    margin: 0;
    display: flex;
    position: fixed;
    bottom: -14rem;
    left: -14rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.nav-links {
    content: "";
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    position:sticky;
    background-color: hsla(0, 0%, 0%, 0.8);
    transform: scale(0.16);
    transition: transform 1000ms ease;

}

.nav-toggle-label{
    content: "";
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    z-index: 2;

}
.location-icon {
    display: flex;
    position: fixed;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.8);
    align-items: center;
    justify-content: center;
    bottom: 2.6rem;
    right: 2.6rem;
}
.burger-container img, .location-icon img {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    position: relative;
}
.nav-toggle-label::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: 0.3rem solid #feed01;
    border-radius: 50%;
    width: 5.2rem;
    height: 5.2rem;
    animation: pulse 1s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes pulse {
    100% {transform: scale(1.2,1.2);}
}
.reset-label{
    content: "";
    width: 150%;
    height: 175%;
    display: none;
    position: fixed;
    
    background-color: transparent;
    z-index: -1;

}

.nav-toggle:checked ~ .nav-links{
    transform: scale(1);
}
.nav-toggle:checked ~ .nav-toggle-label::after{
    animation-play-state: paused;
}
.nav-toggle:checked ~ .reset-label{
    display:block;
}


.nav-item{
    display: flex;
    background-color: #feed01;
    opacity: 0;
    position: absolute;
    transform: scale(0.7);
    width:5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    transition: transform 1000ms ease, opacity 1000ms cubic-bezier(.60,0,0,0);
    

}
.nav-toggle:checked ~ #nav1 {
    transform: var(--translate1);
    opacity: 1;
}
.nav-toggle:checked ~ #nav2 {
    transform: var(--translate3of7);
    opacity: 1;
}
.nav-toggle:checked ~ #nav3 {
    transform: var(--translate5of7);
    opacity: 1;
}
.nav-toggle:checked ~ #nav4 {
    transform: var(--translate7of7);
    opacity: 1;

}

.nav-item a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height:100%;
    border-radius: 50%;
    color: black;
    line-height: 5.2rem;

}
.thumb-pic{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -200;
}